<nav class="navbar navbar-expand header-auth fixed-top p-0">
  <header class="container-fluid align-items-center header">

    <a [ngClass]="'navbar-brand col-auto navbar-a p-0 mr-1 mr-lg-3'" [routerLink]="['/dashboard']">
      <img src="../../../../assets/images/logo.svg" alt="SMX" width="90" height="13">
    </a>

    <button class="btn btn-modules col-auto shadow-none p-2 mr-sm-1 mr-lg-3" (click)="openModal(modalModules)">
      <img src="../../../../assets/images/grid.svg" alt="Modules" width="16" height="16">
      <span class="pl-2 align-middle">{{'modules.title' | translate}}</span>
    </button>

    <ng-template #modalModules let-modal>
      <app-modal-modules [modal]="modal" [data]="imodules"></app-modal-modules>
    </ng-template>

    <div class="collapse navbar-collapse w-100 px-0 justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav m-0">
          <li class="nav-item">
          <a class="nav-link navbar-a active" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item">
          <a class="nav-link navbar-a" aria-current="page" href="#">test 1</a>
          </li>
          <li class="nav-item">
          <a class="nav-link navbar-a" aria-current="page" href="#"><em>text 2</em></a>
          </li>
          <li ngbDropdown class="nav-item dropdown">

            <a ngbDropdownToggle class="nav-link dropdown-toggle navbar-a" role="button" data-bs-toggle="dropdown" id="dropdownMenuButton1" aria-expanded="false" aria-label="Toggle navigation">
              Dropdown
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a href="#"class="dropdown-item">Trash</a>
            </div>
          </li>
      </ul>
    </div>

  </header>
</nav>
