@import 'mixins';

.header-auth {
  // position: fixed;
  // top: 0;
  @include make-gutters();
  width: 100vw;
  min-width: $app-min-width;

  .header {
    // display: flex;
    // align-items: center;
    @include make-header();
    color: $header-color;

    .navbar-a {
      color: $header-color;
    }

    .dropdown-menu {
      position: absolute;
      left: -5rem;
    }
  }

  .btn-modules {
    color: $white;
    &:hover {
      color: $svg-hover-color;
    }
  }
}
