<section class="operators">

  <app-breadcrumb-auth></app-breadcrumb-auth>

  <div class="contents">
    <div class="d-flex justify-content-between">
      <h2 class="title">{{'modules.operators.list' | translate}}</h2>
      <div class="actions">
        <button type="button" class="btn mr-1" [disabled]="true">{{'actions.edit' | translate}}</button>
        <button type="button" class="btn mr-1" [disabled]="true">{{'actions.deactivate' | translate}}</button>
        <a role="button" [routerLink]="['/'+moduleId, 'AezPexrrA3Jn']" class="btn mr-1">{{'actions.create' | translate}}</a>
      </div>
    </div>

    <div *ngFor="let operator of operators | async" class="align-middle">
      <input type="checkbox" aria-label="Checkbox for following text input">
      <a [ngClass]="{'selected': operator.id === selectedOperator?.id, 'person': true}" [routerLink]="['/'+moduleId, operator.id]">
        <span class="badge">{{operator.firstName}}</span>
      </a>
    </div>
  </div>

</section>
