<div class="page-nav" [ngClass]="[sideNavStatus == 1 ? 'narrow-width' : 'wide-width']" >
  <div *ngIf="sideNavStatus == 1">
    <a class="btn navbar-a " role="button" (click)="setNavbarWidth()"  aria-controls="Local page actions maximize">
      <fa-icon [icon]="['fas', 'bars']" class="icon-expanded"></fa-icon>
    </a>
  </div>

  <div *ngIf="sideNavStatus == 2">
    <header class="header d-flex justify-content-between align-items-center">

      <a [routerLink]="_currentModule.path" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: false}"
        ariaCurrentWhenActive="page">
        <h2>{{ _currentModule.title | translate }}</h2>
      </a>

      <a class="btn navbar-a " role="button" (click)="setNavbarWidth()"  aria-controls="Local page action minimize">
        <fa-icon [icon]="['fas', 'x']" class="icon-expanded"></fa-icon>
      </a>
    </header>
    <hr />
    <ul class="nav flex-column">
      <li *ngFor="let f of _currentModule.features" class="nav-item">
        <a [routerLink]="f.path" [ngClass]="{features: true}"
          routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">
          <h3>{{f.label | translate}}</h3>
        </a>
      </li>
    </ul>


  </div>

</div>
