<div class="page-nav" [ngClass]="[sideNavStatus == 1 ? 'narrow-width' : 'wide-width']" >
  <div *ngIf="sideNavStatus == 1">
    <a class="btn navbar-a " role="button" (click)="setNavbarWidth()"  aria-controls="Local page actions maximize">
      <fa-icon [icon]="['fas', 'bars']" class="icon-expanded"></fa-icon>
    </a>
  </div>

  <div *ngIf="sideNavStatus == 2">
    <header class="header d-flex justify-content-between align-items-center">
      <h2 [ngClass]="{'active-link': _currentModule.path===currentRoute}">{{ _currentModule.title | translate }}</h2>

      <a class="btn navbar-a " role="button" (click)="setNavbarWidth()"  aria-controls="Local page action minimize">
        <fa-icon [icon]="['fas', 'x']" class="icon-expanded"></fa-icon>
      </a>
    </header>
    <hr />
    <div *ngFor="let f of currentModule.features" [ngClass]="{features: true, 'active-link': f.path === currentRoute}">
      {{f.label | translate}}
    </div>

  </div>

</div>
