@import 'mixins';

.page-nav {
  position: fixed;
  margin-top: $header-height;
  height: calc(100vh - #{$header-height});
  // @include make-small-gutters();
  // z-index: $page-actions-auth;

  &.wide-width {
    width: $navbarWideWidth;
  }

  &.narrow-width {
    width: $navbarNarrowWidth
  }

  .icon-expanded {
    font-size: 1.2em;
  }

  .header {
    @include make-feature-gutters();
    height: 4em;
  }

  .features {
    @include make-feature-gutters();
    margin-top: 1.5em;

  }

  a {
    color: $link-color;
    display: inline-block;
    text-decoration: none;
    :hover {
      color: $link-hover-color;
    }

    &.active-link {
      @include for-active-link();
    }
  }



}
