@import 'mixins';

.modal-modules {

  .modal-header {
    background-color: $header-modal;
    color: $header-color;
  }

  .modal-body {
    a {
      color: $link-color;
    }
    .active-link {
      color: $active-link-color;
      font-weight: $active-link-weight;
    }
  }

  .icon-color {
   color: $header-color;
  }

}
