@import 'mixins';

.modal-modules {

  .modal-header {
    background-color: $header-modal;
    color: $header-color;
  }

  .modal-body {
    a {
      @include standard-link();
    }
  }

  .icon-color {
   color: $header-color;
  }

}
