<div class="modal-modules">
  <div class="modal-header align-items-center">
    <h4 class="modal-title" id="modal-basic-title">{{'modules.title' | translate}}</h4>
    <button type="button" class="btn shadow-none" aria-label="Close" (click)="modal.dismiss('Cross click')" >
      <fa-icon [icon]="['fas', 'x']" class="icon-expanded icon-color"></fa-icon>
    </button>
  </div>
  <div class="modal-body row mx-0 px-0">
    <h3 class="imodules col-6 mt-4 mb-4" *ngFor="let d of data">
      <a [routerLink]="d.path" ariaCurrentWhenActive="page" (click)="modal.close('Close click')"
        routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">{{d.title | translate}}</a>
    </h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">
      {{ 'actions.ok' | translate }}
    </button>
  </div>
</div>
