@import 'variables';

// Mixins
$grid-breakpoints: (
  xs: 0,
  ms: 396px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1800px
);

// Fonts

h1 {
  font-size: 1.6rem;
  margin: 0;
  @include media-breakpoint-up(sm) {
    font-size: 1.8rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 1.3rem;
  margin: 0;
  @include media-breakpoint-up(sm) {
    font-size: 1.4rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1.6rem;
  }
}

p, h3 {
  font-size: 1.1rem;
  margin: 0;
  @include media-breakpoint-up(sm) {
    font-size: 1.2rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 1.3rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1.4rem;
  }
}

* {
  font-size: 1rem;
  margin: 0;
  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1.2rem;
  }
 }

 @mixin make-buttons() {
  background-color: $button-bg-color;
  color: $button-color;
  &:hover {
    color: $button-hover-color;
  }
 }

 @mixin make-gutters() {
  padding-right: $small-gutter;
  padding-left: $small-gutter;
  @include media-breakpoint-up(lg) {
    padding-right: $normal-gutter;
    padding-left: $normal-gutter;
  }
 }

 @mixin make-feature-gutters() {
  padding-right: $small-gutter;
  padding-left: $normal-gutter;
  @include media-breakpoint-up(lg) {
    padding-right: $normal-gutter;
    padding-left: $large-gutter;
  }
 }

 @mixin make-small-gutters() {
  padding-right: $xsmall-gutter;
  padding-left: $xsmall-gutter;
 }

 @mixin make-form-controls() {
  font-size: 1rem;
  margin: 0;
  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1.1rem;
  }
 }

// Headers
@mixin make-header() {
  height: $header-height;
  @include make-gutters();
  background-color: $header-background-color;
 }

@mixin make-page-contents() {
  background-color: $page-contents-color;
  padding: 2em;
}

@mixin make-page-wrapper-contents() {
  background-color: $page-wrapper-contents-color;
}

@mixin make-page-contents-part2() {
  background-color: $page-contents-part2-color;
}


// .smx-header {
//   height: $header-height;
//   @include make-gutters();
//   background-color: $header-background-color;
// }

// Links
@mixin feature-link() {
  color: $feature-link-color;
  display: inline-block;
  text-decoration: none;
  :hover {
    color: $link-hover-color;
  }

  &.active-link {
    color: $active-link-color;
    font-weight: $active-link-weight;
  }
}

@mixin standard-link() {
  color: $link-primary-color;
  &:hover {
    color: $link-hover-color;
  }

  &.selected {
    color: $link-secondary-color;
    &:hover {
      color: $link-hover-color;
    }
  }

}

// Examples
.custom-class {
  display: none;
}
@include media-breakpoint-up(xl) {
  .custom-class {
    margin-top: 60px;
    display: block;
  }
}
@include media-breakpoint-up(xxxl) {
  .custom-class {
    display: none;
  }
}
@include media-breakpoint-between(md, xl) {
}

@mixin make-container($padding-x: 0) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

// Usage
.custom-container {
  @include make-container();
}
