@import 'palette';

// App
$app-min-width: 275px;

// Body
$body-color: tealColors('900');

// Gutters
$xsmall-gutter: 5px;
$small-gutter: 8px;
$normal-gutter: 16px;
$large-gutter: 24px;

// Header
$header-background-color: tealColors('800');
$header-color: grayColors('100');
$header-height: 3em;
$header-link: $white;

// Navbar
$navbarNarrowWidth: 2.8em;
$navbarWideWidth: 23em;

// Pages
$page-bk-color: grayColors('200');

// Z-Indexes
$main-z-index: 101;
$page-actions-auth: 201;
