@import 'palette';

// App
$app-min-width: 275px;

// Body
$body-color: tealColors('900');

// Gutters
$xsmall-gutter: 5px;
$small-gutter: 8px;
$normal-gutter: 16px;
$large-gutter: 24px;

// Header
$header-background-color: tealColors('800');
$header-color: grayColors('100');
$header-height: 3em;
$header-link: $white;
$header-modal: grayColors('800');

// Links
$link-color: grayColors('900');
$link-hover-color: tealColors('700');
$active-link-color: grayColors('500');
$active-link-weight: 500;

// Navbar
$navbarNarrowWidth: 2.8em;
$navbarWideWidth: 23em;

// Pages
$page-bk-color: grayColors('200');

// SVGs
$svg-hover-color: #d2f4ea;

// Z-Indexes
$main-z-index: 101;
$page-actions-auth: 201;
